In [2]:
# import all libraries needed. 
# might need to install a few using !pip install nameOfmodule

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import os
import scandir

# Working with Event Files - EXTRACT

In [3]:
# list all events json - only included few files for now for ease

events_path = os.path.join("..","events")
json_events = [pos_json for pos_json in os.listdir(events_path) if pos_json.endswith('.json')]

print(json_events)

['7298.json', '7430.json', '7443.json', '7444.json', '7445.json', '7451.json', '7456.json', '7457.json', '7471.json', '7472.json', '7473.json', '7474.json', '7475.json', '7476.json', '7477.json', '7478.json', '7479.json', '7480.json', '7482.json', '7483.json', '7484.json', '7485.json', '7486.json', '7487.json', '7490.json', '7492.json', '7493.json', '7494.json', '7496.json', '7497.json']

In [8]:
# Test 1 - get some object data frome each json and append to event_list
event_list = []

for i in json_events:
    with open( os.path.join(events_path,i) , 'r') as match_file:
        data=match_file.read()
        obj = json.loads(data)
        event_list.append([i,obj[0]["team"]])
        event_list.append([i,obj[1]["team"]])

event_list[0:6]

[['7298.json', {'id': 746, 'name': 'Manchester City WFC'}],
 ['7298.json', {'id': 971, 'name': 'Chelsea LFC'}],
 ['7430.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7430.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7443.json', {'id': 765, 'name': 'Portland Thorns'}],
 ['7443.json', {'id': 760, 'name': 'Seattle Reign'}]]

# Dataset of most common formations - TRANSFORMATION

In [5]:
# extract team name, and formation used for each event json

team_name = []
formation = []

for i in json_events:
    with open( os.path.join(events_path,i) , 'r') as match_file:
        data=match_file.read()
        obj = json.loads(data)
        team_name.append(obj[0]["team"]["name"])
        team_name.append(obj[1]["team"]["name"])
        formation.append(obj[0]["tactics"]["formation"])
        formation.append(obj[1]["tactics"]["formation"])

In [18]:
# put it into df

df = pd.DataFrame({"name":team_name,"formation":formation})
df.head()

                     name  formation
0     Manchester City WFC        433
1             Chelsea LFC        352
2       Washington Spirit        433
3  North Carolina Courage        442
4         Portland Thorns       3412

# connecting lineups and events

In [43]:
# extract lineup

lineups_path = os.path.join("..","lineups")
lineup = []

for i in json_events:
    with open( os.path.join(lineups_path,i) , 'r') as match_file:
        data=match_file.read()
        obj = json.loads(data)
        for i in range(11):
            lineup.append(obj[1]["lineup"][i]["player_name"])
        for i in range(11):
            lineup.append(obj[0]["lineup"][i]["player_name"])

In [44]:
#create space for putting lineups
for i in range(11):
    df[str(i)] = ""

In [45]:
#insert lineups into data frame
for j in range(11):
    list_dummy = []
    for i in range(0, len(lineup), 11):
        list_dummy.append(lineup[i+j])
    df[str(j)] = list_dummy

In [46]:
df.head()

,name,formation,0,1,2,3,4,5,6,7,8,9,10
0,Manchester City WFC,433,Julia Spetsmark,Ellie Roebuck,Georgia Stanway,Jill Scott,Isobel Christiansen,Claire Emslie,Abbie McManus,Esme Beth Morgan,Nadia Nadim,Demi Stokes,Jane Ross
1,Chelsea LFC,352,Magdalena Ericsson,Crystal Dunn,Maria Thorisdottir,Drew Spence,Maren Mjelde,Rut Hedvig Lindahl,Francesca Kirby,Millie Bright,So-yun Ji,Hannah Jayne Blundell,Anita Amma Ankyewah Asante
2,Washington Spirit,433,Jessica McDonald,Darian Jenkins,Abby Erceg,Allysha Chapman,Jaelene Hinkle,Meredith Speck,Lynn Williams,Kristen Hamilton,Abby Dahlkemper,Merritt Mathias,"Denise O""Sullivan"
3,North Carolina Courage,442,Andi Sullivan,Taylor Smith,Estelle Johnson,Havana Solaun,Joanna Lohman,Whitney Church,Mallory Eubanks,Caprice Dydasco,Ashley Hatch,Francisca Ordega,Mallory Pugh
4,Portland Thorns,3412,Celeste Boureille,Lindsey Horan,Emily Sonnett,Britt Eckerstrom,Margaret Purce,Mallory Weber,Meghan Klingenberg,Katherine Reynolds,Tobin Heath,Kelli Hubly,Andressa Cavalari Machry