In [1]:
# import all libraries needed. 
# might need to install a few using !pip install nameOfmodule

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import os
import scandir

# Working with Event Files - EXTRACT

In [24]:
# list all events json - only included few files for now for ease

events_path = os.path.join("..","events")
json_events = [pos_json for pos_json in os.listdir(events_path) if pos_json.endswith('.json')]

print(json_events)

['7298.json', '7430.json', '7443.json', '7444.json', '7445.json', '7451.json', '7456.json', '7457.json', '7471.json', '7472.json', '7473.json', '7474.json', '7475.json', '7476.json', '7477.json', '7478.json', '7479.json', '7480.json', '7482.json', '7483.json', '7484.json', '7485.json', '7486.json', '7487.json', '7490.json', '7492.json', '7493.json', '7494.json', '7496.json', '7497.json']

In [25]:
# Test 1 - get some object data frome each json and append to event_list
event_list = []

for i in json_events:
    with open( os.path.join(events_path,i) , 'r') as match_file:
        data=match_file.read()
        obj = json.loads(data)
        event_list.append([i,obj[0]["team"]])
        event_list.append([i,obj[1]["team"]])

event_list

[['7298.json', {'id': 746, 'name': 'Manchester City WFC'}],
 ['7298.json', {'id': 971, 'name': 'Chelsea LFC'}],
 ['7430.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7430.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7443.json', {'id': 765, 'name': 'Portland Thorns'}],
 ['7443.json', {'id': 760, 'name': 'Seattle Reign'}],
 ['7444.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7444.json', {'id': 761, 'name': 'Chicago Red Stars'}],
 ['7445.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7445.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7451.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7451.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7456.json', {'id': 763, 'name': 'Sky Blue FC'}],
 ['7456.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7457.json', {'id': 764, 'name': 'Orlando Pride'}],
 ['7457.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7471.json', {'id': 764, 'name': 'Orlando Pride'}],
 ['7471.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7472.json', {'id': 760, 'name': 'Seattle Reign'}],
 ['7472.json', {'id': 765, 'name': 'Portland Thorns'}],
 ['7473.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7473.json', {'id': 763, 'name': 'Sky Blue FC'}],
 ['7474.json', {'id': 761, 'name': 'Chicago Red Stars'}],
 ['7474.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7475.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7475.json', {'id': 761, 'name': 'Chicago Red Stars'}],
 ['7476.json', {'id': 763, 'name': 'Sky Blue FC'}],
 ['7476.json', {'id': 761, 'name': 'Chicago Red Stars'}],
 ['7477.json', {'id': 765, 'name': 'Portland Thorns'}],
 ['7477.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7478.json', {'id': 760, 'name': 'Seattle Reign'}],
 ['7478.json', {'id': 762, 'name': 'Houston Dash'}],
 ['7479.json', {'id': 764, 'name': 'Orlando Pride'}],
 ['7479.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7480.json', {'id': 760, 'name': 'Seattle Reign'}],
 ['7480.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7482.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7482.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7483.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7483.json', {'id': 764, 'name': 'Orlando Pride'}],
 ['7484.json', {'id': 763, 'name': 'Sky Blue FC'}],
 ['7484.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7485.json', {'id': 761, 'name': 'Chicago Red Stars'}],
 ['7485.json', {'id': 760, 'name': 'Seattle Reign'}],
 ['7486.json', {'id': 765, 'name': 'Portland Thorns'}],
 ['7486.json', {'id': 762, 'name': 'Houston Dash'}],
 ['7487.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7487.json', {'id': 766, 'name': 'North Carolina Courage'}],
 ['7490.json', {'id': 763, 'name': 'Sky Blue FC'}],
 ['7490.json', {'id': 765, 'name': 'Portland Thorns'}],
 ['7492.json', {'id': 764, 'name': 'Orlando Pride'}],
 ['7492.json', {'id': 763, 'name': 'Sky Blue FC'}],
 ['7493.json', {'id': 760, 'name': 'Seattle Reign'}],
 ['7493.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7494.json', {'id': 762, 'name': 'Houston Dash'}],
 ['7494.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7496.json', {'id': 767, 'name': 'Utah Royals'}],
 ['7496.json', {'id': 759, 'name': 'Washington Spirit'}],
 ['7497.json', {'id': 761, 'name': 'Chicago Red Stars'}],
 ['7497.json', {'id': 766, 'name': 'North Carolina Courage'}]]

# Dataset of most common formations - TRANSFORMATION

In [27]:
# extract team name, and formation used for each event json

team_name = []
formation = []

for i in json_events:
    with open( os.path.join(events_path,i) , 'r') as match_file:
        data=match_file.read()
        obj = json.loads(data)
        team_name.append(obj[0]["team"]["name"])
        team_name.append(obj[1]["team"]["name"])
        formation.append(obj[0]["tactics"]["formation"])
        formation.append(obj[1]["tactics"]["formation"])

In [34]:
# put it into df

df_formations = pd.DataFrame({"name":team_name,"formation":formation})
df_formations

                      name  formation
0      Manchester City WFC        433
1              Chelsea LFC        352
2        Washington Spirit        433
3   North Carolina Courage        442
4          Portland Thorns       3412
5            Seattle Reign       4231
6   North Carolina Courage        442
7        Chicago Red Stars        433
8              Utah Royals       4231
9        Washington Spirit        433
10  North Carolina Courage        442
11       Washington Spirit        433
12             Sky Blue FC        433
13  North Carolina Courage        442
14           Orlando Pride        433
15  North Carolina Courage        433
16           Orlando Pride        442
17  North Carolina Courage        442
18           Seattle Reign       4321
19         Portland Thorns       4231
20             Utah Royals       4231
21             Sky Blue FC       4321
22       Chicago Red Stars       4231
23       Washington Spirit        433
24  North Carolina Courage       4222
25       Chicago Red Stars       4222
26             Sky Blue FC       4312
27       Chicago Red Stars        442
28         Portland Thorns       4231
29             Utah Royals        442
30           Seattle Reign       4231
31            Houston Dash       4231
32           Orlando Pride        433
33       Washington Spirit       4321
34           Seattle Reign       4321
35             Utah Royals       4231
36  North Carolina Courage        442
37       Washington Spirit        532
38             Utah Royals       4231
39           Orlando Pride       3142
40             Sky Blue FC       4231
41  North Carolina Courage        442
42       Chicago Red Stars        451
43           Seattle Reign       4321
44         Portland Thorns       4231
45            Houston Dash        451
46             Utah Royals       4231
47  North Carolina Courage        442
48             Sky Blue FC        442
49         Portland Thorns        451
50           Orlando Pride       3142
51             Sky Blue FC        442
52           Seattle Reign       4321
53       Washington Spirit        352
54            Houston Dash        442
55             Utah Royals       4231
56             Utah Royals       4411
57       Washington Spirit       3412
58       Chicago Red Stars        442
59  North Carolina Courage       4321