In [1]:
# import all libraries needed. 
# might need to install a few using !pip install nameOfmodule

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import os
from sqlalchemy import create_engine

# Transformation: Working with Event and Lineup files

## Extract from lineup files

In [2]:
# list of all lineup files
lineups_path = os.path.join("..","lineups")
json_lineups = [pos_json for pos_json in os.listdir(lineups_path) if pos_json.endswith('.json')]

print(json_lineups)

['7298.json', '7430.json', '7443.json', '7444.json', '7445.json', '7451.json', '7456.json', '7457.json', '7471.json', '7472.json', '7473.json', '7474.json', '7475.json', '7476.json', '7477.json', '7478.json', '7479.json', '7480.json', '7482.json', '7483.json', '7484.json', '7485.json', '7486.json', '7487.json', '7490.json', '7492.json', '7493.json', '7494.json', '7496.json', '7497.json']

In [3]:
# empty lists for data we will extract from the lineup file
player_name=[]
team_id =[]
team_name = []
country = []
event_id = []

In [4]:
# extract the data 
for i in json_lineups:
    with open( os.path.join(lineups_path,i) , 'r') as match_file:
        data=match_file.read()
        obj = json.loads(data)
        for j in range(len(obj[0]["lineup"])):
            event_id.append(i)
            team_id.append(obj[0]["team_id"])
            team_name.append(obj[0]["team_name"])
            player_name.append(obj[0]["lineup"][j]["player_name"])
            country.append(obj[0]["lineup"][j]["country"]["name"])
        for j in range(len(obj[1]["lineup"])):
            event_id.append(i)
            team_id.append(obj[1]["team_id"])
            team_name.append(obj[1]["team_name"])
            player_name.append(obj[1]["lineup"][j]["player_name"])
            country.append(obj[1]["lineup"][j]["country"]["name"])

## Extract data from events

In [5]:
# list all events json - only included few files for now for ease

events_path = os.path.join("..","events")
json_events = [pos_json for pos_json in os.listdir(events_path) if pos_json.endswith('.json')]

print(json_events)

['7298.json', '7430.json', '7443.json', '7444.json', '7445.json', '7451.json', '7456.json', '7457.json', '7471.json', '7472.json', '7473.json', '7474.json', '7475.json', '7476.json', '7477.json', '7478.json', '7479.json', '7480.json', '7482.json', '7483.json', '7484.json', '7485.json', '7486.json', '7487.json', '7490.json', '7492.json', '7493.json', '7494.json', '7496.json', '7497.json']

In [6]:
player_name_e = []
event_id_e = []
type_of_event_e = []
outcome_e = []

In [7]:
for i in json_events:
    with open( os.path.join(events_path,i) , 'r') as match_file:
        data=match_file.read()
        obj = json.loads(data)
        for j in range(len(obj)):
            if obj[j]["type"]["name"] == "Pass":
                event_id_e.append(i)
                player_name_e.append(obj[j]["player"]["name"])
                type_of_event_e.append("attempted pass")
                try:
                    obj[j]["pass"]["outcome"]
                    outcome_e.append("Unsuccessful pass")
                except:
                    outcome_e.append("Successful pass")

            if obj[j]["type"]["name"] == "Shot":
                event_id_e.append(i)
                player_name_e.append(obj[j]["player"]["name"])
                type_of_event_e.append("shot")
                outcome_e.append(obj[j]["shot"]["outcome"]["name"])

## Convert lists into data frames

In [8]:
df_lineups = pd.DataFrame({"player_name" : player_name,"team_id" : team_id, "team_name" : team_name,
                           "country" : country,"event_id" : event_id})

In [9]:
df_events = pd.DataFrame({"player_name_e":player_name_e, "event_id_e" : event_id_e,"type_of_event_e" :type_of_event_e,
                          "outcome_e" : outcome_e})
df_events["count"] = 1

In [10]:
# rearrange df

df_events = df_events.groupby(["player_name_e","event_id_e","type_of_event_e","outcome_e"]).count()
list1 = []
list2 = []
list3 = []
list4 = []

for i in df_events.index:
    list1.append(i[0])
    list2.append(i[1])
    list3.append(i[2])
    list4.append(i[3])

df_events["player_name"] = list1
df_events["event_id"] = list2
df_events["type_play"] = list3
df_events["outcome"] = list4
df_events = df_events.reset_index(drop = True)
df_events.head()

   count      player_name   event_id       type_play            outcome
0     36    Abbie McManus  7298.json  attempted pass    Successful pass
1     10    Abbie McManus  7298.json  attempted pass  Unsuccessful pass
2     45  Abby Dahlkemper  7430.json  attempted pass    Successful pass
3     11  Abby Dahlkemper  7430.json  attempted pass  Unsuccessful pass
4     28  Abby Dahlkemper  7444.json  attempted pass    Successful pass

# Loading to SQL

In [11]:
# send tables to postgres
engine = create_engine('postgresql://username:password@localhost:5432/databasename')
df_events.to_sql('df_events', engine)
df_lineups.to_sql("df_lineups",engine)